
        :root {
            --cafe-oscuro: #4a3f35;
            --cafe-leche: #776c56;
            --beige-suave: #f0ead2;
            --glass-bg: rgba(106, 19, 2, 0.315);
        }

        body {
            font-family: 'Poppins', sans-serif;
            background-color: #faf9f6;
            color: var(--cafe-oscuro);
        }

        .navbar {
            background: rgba(228, 24, 2, 0.8) !important;
            backdrop-filter: blur(10px);
            border-bottom: 1px solid rgba(0,0,0,0.05);
        }
        .logo-nav {
            max-height: 80px;
            width: auto;
            transition: transform 0.3s ease;
        }
        
        @media (max-width: 768px) {
            .logo-nav {
                max-height: 60px;
            }
        }
        .hero {
            height: 100vh;
            background: linear-gradient(rgba(0,0,0,0.1), rgba(0, 0, 0, 0.1)), url('../img/hero.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: white;
        }
        
        .hero-card {
            background: var(--glass-bg);
            backdrop-filter: blur(80%);
            padding: 1rem;
            border-radius: 10px;
            max-width: 600px;
            z-index: 2;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        }
        
        h1, h2 { 
            font-weight: 900;font-family: 'Courier New', Courier, monospace;font-size: 3rem; font-style: italic;
        }

        .menu-card {
            border: none;
            border-radius: 15px;
            transition: transform 0.3s;
            overflow: hidden;
            box-shadow: 0 10px 20px rgba(0,0,0,0.05);
        }

        .menu-card:hover { transform: translateY(-10px); }

        .btn-custom {
            background-color: var(--cafe-leche);
            color: rgb(255, 255, 255);
            border-radius: 50px;
            padding: 10px 30px;
        }

        .btn-custom:hover { background-color: var(--cafe-oscuro); color: white; }

        .bi-facebook {
            color: #f0ead2;font-size: 2rem
          }
        .bi-instagram {
                color: #f0ead2;font-size: 2rem
          }
        .bi-twitter-x {
                color: #f0ead2;font-size: 2rem
          }
        footer { background-color: var(--cafe-oscuro); color: white; padding: 40px 0; }
        